.main {
  text-align: center;
  /*让div内部文字居中*/
  background-color: #fff;
  border-radius: 20px;
  width: 388px;
  height: 350px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: xx-large;
}